body {
    margin: 0 auto;
    width: 850px;

}

main {

    margin: 0 auto;
    height: 450px;
    background-image: url(../img/nasa.jpg);
    color: white
 
}

section {
    display: flex;
    height: 324px;
    flex-direction: row;
    justify-content: space space-between

}
article {
    width: 270px;
    height: 374px;
    background-color: grey
}